dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.8.2
Flask==1.1.2
Flask-Compress==1.7.0
gunicorn==20.0.4
numpy==1.17.0
pandas==0.25.3
plotly==5.3.1
yfinance==0.1.64